/* font link part start */
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Big+Shoulders+Stencil:opsz,wght@10..72,100..900&family=Dancing+Script:wght@400..700&family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Actor&family=Adamina&family=Be+Vietnam+Pro:wght@600&family=Bebas+Neue&family=Dancing+Script:wght@600&family=EB+Garamond:ital,wght@1,600&family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oleo+Script+Swash+Caps&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald&family=Pacifico&family=Parisienne&family=Playfair+Display:ital,wght@1,500&family=Roboto+Slab:wght@200&family=Roboto:wght@400;500&family=Satisfy&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
/* font link part end */
/* Common Css part start */
*{
  margin:0;
  padding:0;
    outline:0;
    box-sizing:border-box;  
}
body,html{
  overflow-x: hidden;
  margin:0;
  padding:0;
}
ul,ol{
    list-style:none;
}
a{
    display:inline-block;
    text-decoration: none;
}
img{
    width:100%;
    max-width:100%;
    vertical-align: middle;
}
h1,h2,h3,h4,h5,h6,ul,ol,p{
    margin:0;

}
:root{
    --ubuntu:"Ubuntu", sans-serif;
    --brand_color:#42454A;
}
/* Common Css part end */
/* Navbar part start */
.main_menu{
padding: 26px 0;
position: relative;
z-index: 1000;
}
.main_menu .logo img{
    width:70px;
    
}
.main_menu ul{
    gap:75px;
}
.main_menu ul li a{
    font-size:14px;
    font-weight:400;
    font-family:var(--ubuntu);
    color:var(--brand_color) !important;
    transition: all linear .4s;
}

.main_menu ul li:hover a{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  padding-left:10px;
  padding-right:10px;
}
.main_menu .menu_buttons{
    display:flex;
    gap:24px;
}
.main_menu .menu_buttons a{
    border-radius: 4px;
    background: var(--brand_color);
padding:16px 26px;
font-size:14px;
font-weight:400;
font-family: var(--ubuntu);
color:#fff;
transition: all linear .7s;
}

.main_menu .menu_buttons a:hover{
    background: #fff ;
    color:var(--brand_color);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
/* Navbar part end */
/* Banner part start*/
.banner_text{
    margin-top:84px;
}
.banner_text h1{
    
    font-size:90px;
    font-weight:300;
    font-family: var(--ubuntu);
    color:var(--brand_color);
    text-transform: uppercase;
}
.banner_text h1 span{
    font-weight:700;
}
.banner_line{
    width:335px;
    height:4px;
    background:var(--brand_color);
    display:inline-block;
    margin-top:93px;
}
.banner_text p{
    width:353px;
    font-size:22px;
    font-weight:400;
    font-family:var(--ubuntu);
    color:var(--brand_color);
}
 
.banner_buttons{
    margin-top:62px;
}
.banner_buttons{
    display:flex;
    gap:80px;
}

.bookmarkBtn {
    width: 162px;
    height: 58px;
    border: 1px solid rgba(255, 255, 255, 0.349);
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition-duration: 0.3s;
    overflow: hidden;
    background: transparent;
    position:relative;
  }
  
  .IconContainer {
    width: 58px;
    height: 58px;
    background: var(--brand_color);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 2;
    transition-duration: 0.3s;
  }
  .IconContainer svg{
    width:20px;
    height:26px;
  }
  .icon {
    border-radius: 1px;
  }
  
  .text {
    height: 32px;
    width: 82px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--brand_color);
    z-index:1;
    transition-duration: 0.3s;
    font-size: 1.04em;
    font-weight:500;
  }
  
  .bookmarkBtn:hover .IconContainer {
    width: 162px;
    transition-duration: 0.3s;
    justify-content: start;
    padding-left:17px;
  }
  
  .bookmarkBtn:hover .text {
    position:absolute;
    color:#fff;
    z-index: 99;
    right:10px;
  }
  
  .bookmarkBtn:active {
    transform: scale(0.95);
    transition-duration: 0.3s;
  }
  /* watch video part start */
  .watch_video{
    display:flex;
    gap:21px;
  }
  .watch_video .watch_video_text h4{
    width:87px;
    height:75px;
    color:#414449;
    font-size:18px;
    font-weight:500;
    font-family: var(--ubuntu);
  }
  
 .play_button img{
    height:80px;
    width:80px;
    animation: rotate 7s linear infinite;
 }
 @keyframes rotate{
    from{
        transform: rotate(0);
    }
    to { transform: rotate(360deg); }
 }
  /* .banner_image img{
    width:856px;
    height:769px;
    position: absolute;
 top:100px;
    right:0;
    margin-top:31px;
  } */
  .multiple-items .singleslider img{
    width:900px;
    height:700px;
    margin-top:131px;
}
.banner_image{
  position:relative;
}
.multiple-items{
  margin-left: 590px;
margin-top:-700px;
}
.bg{
  position:absolute;
  width:510px;
  height:558px;
  right:-144px;
  margin-top: 192px;
}

  /* watch video part end */
  /* banner part end */
  /* counter part start */
  #counter{
    margin-top:80px;
  }
  .counter_single_box{
    width:174px;
    height:137px;
    border-radius: 7px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; 
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    gap:18px;
  }
  .counter_single_box h2{
    font-size:18px;
    font-weight:700;
    font-family:var(--ubuntu);
    color:var(--brand_color);

  }
  .counter_single_box h2 span{
    font-size:40px;
  
  }
  .counter_single_box p{
    font-size:13px;
    font-weight:400;
    font-family:var(--ubuntu);
    color:var(--brand_color);
  }
  /* product information part start */
  #product_info{
    margin-top:127px;
  }
  /* .product_container{
    display:flex;
    justify-content: center;
    align-items:center;
  } */
  .product_info_text h2{
    color:var(--brand_color);
    font-weight:700;
    font-size:50px;
  font-family: var(--ubuntu);
  text-align: center;
  }
  .product_info_text p{
    margin-top:34px;
    color:var(--brand_color);
    font-weight:400;
    font-size:20px;
    font-family: var(--ubuntu);
    text-align: center;
  }
  .product_q_text img{
    width:49px;
   height:49px;
  }
  .product_q_text{
    display:flex;
    gap:18px;
    align-items: center;
  }
  .product_q_text p{
    font-weight:400;
    font-size:20px;
    font-family:var(--ubuntu);
  }
  .product_quick_info{
    display:flex;
    flex-direction: column;
    gap:34px;
  }
  .product-quick_container{
    margin-top:143px;
    width:500px;
    height:464px;
    margin-left:160px;
  }
  .product_info_image{
   margin-top:39px;
   position:relative;
  }
  .product_info_image img{
    position:absolute;
    left:-62px;
width:748px;
height:706px;
  }
  #high_efficieny{
    margin-top:130px;
  }
  .high_frequency_text_con h2{
    font-size:50px;
    font-weight:700;
    font-family: var(--ubuntu);
    color:var(--brand_color);
    text-align: center;
  }
  .high_frequency_text_con p{
    font-size:20px;
    font-weight:400px;
    color:var(--brand_color);
    font-family:var(--ubuntu);
    text-align: center;
    margin-top:34px;
  }
  .high_frequency_image{

margin-top:49px;
  }
  .high_frequency_image img{
    width:1335px;
    height:493px;
  }
  /* Multiple accessoriesss */
  #multiple_accesories{
margin-top:315px;

  }
  .multiple_accs_text h2{
    font-size:50px;
font-weight:700;
font-family: var(--ubuntu);
color:var(--brand_color);
text-align: center;
  }
  .multiple_accs_text p{
    font-size:20px;
    font-weight:400;
    font-family: var(--ubuntu);
    color:var(--brand_color);
    text-align: center;
    margin-top:34px; 
  }
  .Golf_bag_rock_list{
    width:334px;
    height:388px;
  }
  .golf_single_list{
    display:flex;
    align-items: center;
    margin-bottom: 33px;
    gap:18px;
  }
  .golf_single_list img{
    height:49px;
    width:49px;
  }
  .golf_single_list p{
    font-family: var(--ubuntu);
    color:var(--brand_color);
    font-size:20px;
    font-weight:400;
  }
  .golf_bag_rock_text h2{
font-weight:700;
font-size:50px;
font-family:var(--ubuntu);
color:var(--brand_color);
margin-bottom:33px;
  }
  .mulple_accsolrie_g_img img{
    width:878px;
    height:487px;
    margin-top:112px;
  }
  .golf_bag_rock_text h2{
    margin-top:160px;
  }
  .mulple_accsolrie_g_img_1{
    margin-top:112px;
  }
  .mulple_accsolrie_g_img_1 img{
    width:479px;
    height:479px;
  }
  .mulple_accsolrie_g_img_2{
    margin-top:112px;
  }
  .mulple_accsolrie_g_img_2 img{
    width:493px;
    height:438px;
  }
  /* product information part end */
  /*  Shopping_Rack part start*/
  .shopping_rack_text h2{
    font-size:50px;
    font-weight:700;
    color:var(--brand_color);
    font-family:var(--ubuntu);
    color:var(--brand_color);
    margin-top:134px;
    margin-bottom:44px;
  }
.shopping_rack_list img{
  width:49px;
  height:49px;
}
.shopping_rack_list p{
  font-size:20px;
  font-weight:400;
  font-family: var(--ubuntu);
  color:var(--brand_color);
}
.shopping_rack_list{
  display:flex;
  align-items: center;
  gap:18px;
}
.shopping_rack_images{
  margin-top:134px;
}
.shopping_rack_images img{
  width:779px;
  height:427px;
}
.shopping_rack{
  margin-left:289px;
}
.more_accesorie_come_btn{
  display:flex;
  justify-content: center;
  align-items: center;
  margin-top: 52px;
}
.more_accesorie_come_btn a{
color:var(--brand_color);
font-size:30px;
font-weight:700;
font-family:var(--ubuntu);
width:570px;
  height:94px;
  border:2px solid var(--brand_color);
  border-radius:10px;
  display:flex;
  justify-content:center;
  align-items:center;
}
.shopping_rack{
  width:349px;
  height:388px;
}
.shopping_rack_single{
  display:flex;
  gap:33px;
  flex-direction:column ;
}
.battery_images_btn{
  display:flex;
  flex-direction:column;
  gap:27px;
}
.battery_images_btn a{
  width:570px;
  height:94px;
  border:1px solid var(--brand_color);
  border-radius:10px;
  color:var(--brand_color);
  font-weight:700;
  font-size:30px;
  font-family: var(--ubuntu);
  display:flex;
  justify-content:center;
  align-items:center;
}
.scooter{
  margin-top:302px;
  margin-bottom:55px;
}
#gallary{
  margin-top:127px;
}
.gallary_text h2{
font-family: var(--ubuntu);
color:var(--brand_color);
font-size:50px;
font-weight:700;
text-align: center;
}
.gallary_text p{
  margin-top:34px;
  font-family:var(--ubuntu);
color:var(--brand_color);
text-align: center;
font-size:20px;
}
.build_quality img{
  width:633px;
}
.build_quality{
  margin-top:112px;
  height: 495px;
}
.slidernavitem img{
  width:245px;
  height:264px;
}
.parts img{
  width:633px;
  height:485px;
}
.parts {
margin-top:-139px;
}
#subscribe{
  margin-top:121px;
}
.subscribe_text h2{
  font-size: 50px;
  font-weight: 700;
  font-family:var(--ubuntu);
  color:var(--brand_color);
  text-align:center;
}
.subscribe_text p{
  font-size:20px;
  font-weight:400;
  font-family:var(--ubuntu);
  color:var(--brand_color);
  text-align:center;
  margin-top: 11px;
}
.form{
  display:flex;
  gap:20px;
}
.form input{
  width:400px;
  height:81px;
  border-radius: 10px;
  border:0;
  background: #FAFAFA;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding-left:38px;
}
input::placeholder{
  color:var(--brand_color);
  font-size:20px;
  font-family:var(--ubuntu);
  font-weight:400;
 
}
.form{
  display:flex;
  justify-content:center;
  align-items:center;
  margin-top:59px;
}
.form button{
  width:196px;
  height:81px;
  background: var(--brand_color);
  color:#FBFBFB;
  border-radius:10px;
  border:0;
  font-size:20px;
  font-family: var(--ubuntu);
  font-weight:400;
}
footer{
  background: var(--brand_color);
  color:#FBFBFB;
  margin-top:127px;

}
.footer_list{
margin-top:102px;
margin-left: 199px;
}
.footer_list h4{
  margin-bottom:47px;
  text-align: center;
  font-size:22px;
  font-weight: 700;
  font-family:var(--ubuntu);
}
.footer_list ul{
  display:flex;
  flex-direction:column;
  gap:20px;
  padding-left: 19px;

}
.image_container{
  display: flex;
  gap:16px;
}
.image_container img{
  width:32px;
  height:32px;
}
#colours{
margin-top:128px;
}
.commonhead h2{
  font-size:50px;
  font-weight:700;
  font-family:var(--ubuntu);
  color:var(--brand_color);
  text-align: center;
}
.commonhead p{
  font-size:20px;
  font-weight:400;
  font-family:var(--ubuntu);
  color:var(--brand_color);
  text-align:center;
  margin-top:19px;
}
.footer_list{
  display:flex;
  justify-content:center;
  align-items:center;
  gap:84px;
}
.footer_image{
  position: relative;
}
.footer_image img{
  width: 600px;
position:absolute;
left:-141px;
top:-98px;
}
footer p{
  font-family: "Poppins", sans-serif;
  margin-top:118px;
  text-align: center;
  font-size:16px;
}
.main_slider_div{
  position:relative;
}
.slider_nav_position{
  position:absolute;
 bottom:-100px;
 width:100%;
}
.main_show {
  width:100%;
  margin-top:104px;
}
.footer_list_image{
  margin-left:400px;
}
#testimonials{
  margin-top:366px;
  padding-top:78px;
  background: #FAFAFA;
  padding-left:144px;
  padding-right:144px;
  padding-bottom:167px;
}
.testimonial_text h2{
  color:var(--brand_color);
  font-family:var(--ubuntu);
  font-size:50px;
  font-weight:700;
  text-align:center;
 
}
.myslider_item{
  width:360px;
  padding:52px 22px 51px 34px;
 border:1px solid #D8D8D8;
}
.reactin_icon{
  margin-left:-42px;
}

.reactin_icon li img{
  width:17px;
  height:16px;
}
.reactin_icon{
  display:flex;
  justify-content:center;
  align-items:center;
  margin-bottom:11px;
}
.react_para{
  width:304px;
  height:140px;
  text-align: center;
}
.review_maker .person_img img{
  width:48px;
  height:48px;
}
.review_maker{
  display:flex;
  justify-content:center;
  align-items:center;
  gap:20px;
}
.react_para p{
  font-weight:400;
  font-size:20px;
  font-family:var(--ubuntu);
  color:var(--brand_color);
}
.react_para{
  margin-bottom:47px;
}
.review_maker .person_na_desi h4{
  font-size:16px;
  font-weight:500;
  font-family:var(--ubuntu);
  color:var(--brand_color);
}
.review_maker .person_na_desi p{
  font-size:14px;
  font-weight:400;
  font-family:var(--ubuntu);
  color:var(--brand_color);
}
.my_slider{
  position:relative;
}
.arrows{
  width:42px;
  height:42px;
  border-radius:50%;
  background:var(--brand_color);
  display:flex;
  justify-content: center;
  align-items:center;
  color:#fff; 
  position:absolute;
  top:0;
  left:0;
  transform:translate(-50%,-50%);
}
.prr{
top:450px;
left:630px;

}
.nrr{
  top:450px;
  left:700px; 

}
.testimonial_text h2{
  margin-bottom:41px;
}
.arrows:hover{
  background:#fff;
  color:var(--brand_color);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.myslider_item:hover{
 
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
/* button hover */
/* .btn:hover {
  border-top: 2px solid blueviolet;
  border-left: 2px solid blueviolet;
  border-bottom: 2px solid rgb(238, 103, 238);
  border-right: 2px solid rgb(238, 103, 238);
  box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px,
    rgba(240, 46, 170, 0.2) 15px 15px;
} */
.more_accesorie_come_btn{
  transition:all linear .4s;
}
.more_accesorie_come_btn:hover a{
  border-top: 2px solid blueviolet;
  border-left: 2px solid blueviolet;
  border-bottom: 2px solid rgb(238, 103, 238);
  border-right: 2px solid rgb(238, 103, 238);
  box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px,
    rgba(240, 46, 170, 0.2) 15px 15px;
}
.battery_images_btn{
  transition:all linear .4s;
}
.battery_images_btn a:hover{
  border-top: 2px solid blueviolet;
  border-left: 2px solid blueviolet;
  border-bottom: 2px solid rgb(238, 103, 238);
  border-right: 2px solid rgb(238, 103, 238);
  box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px,
    rgba(240, 46, 170, 0.2) 15px 15px;
}
/* to image slick slider */
.top_image{
  display:none;
}
/*  */
.counter-box{
  display:flex;
justify-content:center;
align-items:center;
  
}
